.button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 5px 24px;
    background-color: #0066CC;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #0066CC;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button:hover {
    background: #54aaf8;
}

.button:active {
    background: #C9E5FF;
}